@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,300&family=Roboto:wght@300&display=swap');

.header{
    background-color:#499faa;
    border-radius: 0 0 0 50px;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow:
    0px 6px 27px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.boton{
    font-size: 220%;
    position: absolute;
    right:4px;
    color: #fcedd8;
    box-shadow:0px 5px 0px #eb452b, 
                9px 10px 0px #efa032, 
                16px 15px 0px #46b59b;
    top: 35%;
}

.bienvenidx{
    font-family: 'Exo', sans-serif;
    font-size: 2em;
    color: #fcedd8;
    font-weight: 900;
    position: relative;
    text-align: center;
    margin-left: 10px;
    text-shadow:3px 3px 0px #eb452b, 
                6px 6px 0px #efa032, 
                9px 9px 0px #46b59b;        
            }

    a{
        text-decoration: none;
    }
.burguerMenuClosed{
    width: 300px;
    height: 100vh;
    background-color:#fcedd8;
    position: fixed;
    top: 100px;
    right: -300px;
    z-index: 3;
    transition: all 0.7s ease-in-out;
    }

.burguerMenuOpen{
    width: 300px;
    height: 100vh;
    background-color:#fcedd8;
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 3;
    transition: all 0.7s ease-in-out;
    }
    
ul {
    list-style-type: none;
   }